# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
.turbo/
out/
dist/
.source/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Types
*.tsbuildinfo
next-env.d.ts
